APP_NAME=CarbonIQ API
APP_VERSION=0.1.0
API_V1_PREFIX=/api/v1
ENVIRONMENT=development
DEBUG=true
DATABASE_URL=
DATABASE_ECHO=false
DATABASE_CONNECT_TIMEOUT=5
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=30
